.pagination-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  align-self: center;
  flex-wrap: wrap;
}

.react-paginate-previous {
  text-align: center;
}

.react-paginate-next {
  text-align: center;
}

.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-size: 32px;
  margin: 15px 0;
  padding-left: 15px;
  padding-right: 15px;
}

.test-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 200px;
}

@media only screen and (max-width: 800px) {
  .test-container {
    padding: 0;
  }
}

@media only screen and (max-width: 500px) {
  .pagination-container {
    max-width: 400px;
  }

  .react-paginate-next {
    display: none;
  }

  .react-paginate-previous {
    display: none;
  }
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
}

.large-icon {
  font-size: 1.6rem;
  text-align: center;
}

.help-btn {
  margin-left: 20px;
  align-items: center;
}

.header-message {
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
